mixin work(name, description, image, url, status)

  article(class='node work', itemscope, itemtype='http://schema.org/CreativeWork')
    a(href='#{url}')
      img(src='images/image-1.jpg', alt='#{name} image', itemprop='image')
    div(class='work__body')
      h2(class='work__name', itemprop='name') #{name}
      p(class='work__description', itemprop='description') #{description}
    a(href='#', class='btn btn--primary btn--right') 
      | Read more
      span(class='icon icon--arrow-right')

    meta(itemprop='url', content='#{url}')

mixin product(name, description, url, status, image)

  article(class='node product', itemscope, itemtype='http://schema.org/SoftwareApplication')
    if status
      span(class='status status--#{status}') #{status}
    a(href='http://#{url}', rel='external')
      img(src='images/#{image}', width='152', height='152', alt='#{name} image', itemprop='image', class='product__image')
    h2(class='name product__name', itemprop='name') #{name}
    a(itemprop='url', href='http://#{url}', class='product__url') #{url}
    p(class='work__description', itemprop='description') #{description}


mixin article(name, description, datePublished, url)

  article(class='node article', itemscope, itemtype='http://schema.org/Article')
    a(href='#{url}')
      img(src='images/article-1.jpg', alt='#{name} image', itemprop='image', class='image article__image')
    time(datetime='2013-06-21', itemprop='datePublished', class='date article__date') #{datePublished}
    h2(class='article__name')
      a(href='#{url}') #{name}
    meta(itemprop='name', content='#{name}')
    meta(itemprop='description', content='#{description}')
    meta(itemprop='url', content='#{url}')

mixin studio(name, streetAddress)

  div(class='node studio')
   h2(class='studio__name') #{name} studio
